li  {
    list-style: none;
    padding-left: 500px;
    padding-top: 50px;
    font-size: 25px;
}

li a {
    text-decoration: none;
    color: black;
}
body {
    background: url("images/background.jpg") no-repeat;
    height: 100%;
      }
